[submodule "vendor/mini-ecs"]
	path = vendor/mini-ecs
	url = https://github.com/Vasco-Alves/mini-ecs.git
	branch = main
[submodule "vendor/sol3"]
	path = vendor/sol3
	url = https://github.com/ThePhD/sol2
[submodule "vendor/joltphysics"]
	path = vendor/joltphysics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/nlohmann_json"]
	path = vendor/nlohmann_json
	url = https://github.com/nlohmann/json.git
